* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.clr{clear:both;}
body {background-color:#ddd;}

#mainNav {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-size:0;
    text-align:center;
    width:100%;
}

#mainNav ul {font-size:12px; }
#mainNav i {font-size:3em;}
#mainNav li {display:inline-block; height:inherit;}

#mainNav a {
    color:#fff;
    font-size: 1.5em;
    display:block;
    height:inherit;
    margin:0;
    padding:1.75em 1em;
    text-decoration:none;
}

#mainNav a:hover {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.3813725319229254) 13%, rgba(0,212,255,0.06484592127866773) 100%);
    transition: background .25s ease;

}

#mainNav li .sub-menu {

    position:absolute;
    color:#fff;

    font-size: 1.5em;
    display:block;
    height:inherit;
    margin:0;
    padding:1.75em 1em;
    text-decoration:none;
}

#mainNav li:hover .sub-menu {
    left:0;
    opacity:1;
}

#mainNav .sub-menu i {font-size:1em;}

#mainNav .sub-menu a {
    color:#fff;
    font-size: 1.5em;
    display:block;
    height:inherit;
    margin:0;
    padding:1.75em 1em;
    text-decoration:none;
}

#mainNav .sub-menu a:hover {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#mainNav ul.sub-menus{
    height: auto;
    overflow: hidden;
    width: 170px;
    background: rgb(2,0,36);
    position: absolute;
    z-index: 99;
    display: none;
    color:#fff;
    font-size: 1.5em;
    margin:0;
    padding:1.75em 1em;
    text-decoration:none;
}
#mainNav ul.sub-menus li {
    display: block;
    width: 100%;
}
#mainNav ul.sub-menus a {
    background: rgb(2,0,36);
    font-size: 16px;
}
#mainNav li:hover ul.sub-menus {
    display: block
}
#mainNav ul.sub-menus a:hover{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.7287114674971551) 13%, rgba(0,212,255,0.14047617337950802) 100%);

}
